{% extends "base.html" %}
{% block content %}

<p>BGI4AI functions within <a href="http://www.thehastingscenter.org/">The Hastings Center </a>and the <a href="https://www.carnegiecouncil.org/">Carnegie Council for Ethics in International Affairs.</a> Both organizations have long histories of convening multi-stakeholder and transdisciplinary expert meetings to work through difficult challenges. Their impartial, non-partisan, scientifically reputable reports and recommendations are widely read and have significant influence on the formulation of policy by governments and professional organizations.</p>
<p>Our core team (Wendell Wallach (PI), Mildred Solomon, Anja Kaspersen, Andrew Critch Matthew Scherer and Konrad Schieban) bring a broad array of expertise and network germane to the successful completion of this proposed endeavor &#8211; and our advisory board is as rich in depth as in breadth across relevant disciplines, geographies and enterprises.</p>
<br>
<div align="middle">
    <img src="static/wendell_anja_2017.jpg" alt="Anja and Wendell, June 2017">
    <br>
    <p>
        Anja and Wendell, June 2017
    </p>
</div>


{% endblock %}