{% extends "base.html" %}
{% block content %}

<div style="float: right; clear: right; margin-left: 20px; margin-bottom: 20px;">
    <iframe class='youtube-player' type='text/html' width='644' height='393' src='https://www.youtube.com/embed/3RpTOzHpVeI?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' allowfullscreen='true' style='border:0;'></iframe>
</div>


<p>Artificial intelligence and robotics will transform every aspect of modern life. Maximizing the benefits of these fields of research, while minimizing their risks and negative societal impacts, poses a daunting challenge for governments around the world. A fundamental mismatch exists between the pace of scientific discovery, the breadth of technological innovations, and the ability of governments and civil society to put in place appropriate legal and ethical oversight mechanisms.</p>

<p>There is a need for new more agile and adaptive approaches to the governance of emerging technologies. These approaches must rely upon responsible research and innovation, industry standards and oversight, technological solutions to issues where feasible, foresight and planning, multi-stakeholder engagement, and public input to establish values and desired outcomes.</p>
<p>Establishing means to enforce compliance with ethical and legal guidelines will remain a primary role for formal governmental bodies. Only a few of the issues arising from advances in AI and robotics rise to a level requiring international coordination and oversight. Furthermore, we appreciate that approaches to agile governance will vary from State to State. Nevertheless, the pace of technological innovation makes the adoption of new more adaptive and resilient governance mechanisms pressing.</p>
<p>BGI4AI is a joint initiative of <strong><a href="http://thehastingscenter.org">The Hastings Center</a></strong> and the <strong><a href="https://www.carnegiecouncil.org/">Carnegie Council for Ethics in International Affairs</a></strong> to build global infrastructure to ensure that AI and robotics are beneficial. We are committed to make BGI4AI a platform to:</p>
<p>• Facilitate cooperation and collaboration between the various parties and growing number of separate initiatives;</p>
<p>• Monitor technological developments and flag breakthroughs and gaps requiring additional research or oversight;</p>
<p>• Forge creative mechanisms, including technological solutions, to address these identified gaps, and in some instances blindspots;</p>
<p>• Tackle serious concerns while moderating overly-zealous or fearful initiatives that would unnecessarily stultify innovation;</p>
<p>• Serve as a trusted broker between the interests of industry, governments, and those of civil society;</p>
<p>• Convene multi-stakeholder forums;</p>
<p>• Provide needed expertise to those individual bodies taking responsibility for standards, codes of conduct, verification and certification programs, and various other non-governmental (soft governance) practices;</p>
<p>• Serve as a source of reliable information to the public and responsible media.</p>

{% endblock %}