{% extends "base.html" %}
{% block content %}

    <div class="row blog-header">
        <div class="col-md-6">
            <h3>{{ blog_entry.subject }}</h3>
        </div>
        <div class="col-md-6 text-right">
            <p>{{ blog_entry.created.strftime("%Y-%m-%d %H:%M:%S") }}</p>
        </div>
    </div>

    <div class="row article_separator">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row blog-body">
        <div class="col-md-12">
            <pre class="blog-body">{{ blog_entry.text }}</pre>
        </div>
    </div>

{% endblock %}